@import url('reset.css');

:root {
    /* SYSTEM FONTS */
    --font: 'Roboto Slab', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    /* SIZING */
    --banner-w: 35vw;
    --form-w: 65vw;
    --min-w: 380px;
    --max-w: 820px;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    color: var(--yellow);
}

body {
    background: var(--blue);
    color: var(--yellow-lt);
    font-family: var(--font);
    font-weight: 300;
}

.container {
    max-width: var(--max-w);
    min-width: var(--min-w);
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex: 1;
    padding: 0 32px;
    flex-direction: column;
}

h1 {
    font-size: 2.8rem;
    color: var(--yellow);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0;
}

#open-add-book {
    font-size: 2.4rem;
    width: 36px;
    height: 36px;
    padding: 4px;
    background: var(--yellow-lt);
    color: var(--blue);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#open-add-book:hover {
    background: var(--yellow);
    color: var(--blue);
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
    line-height: 1.4rem;
}

.book {
    padding: 16px;
    background: var(--gray);
    color: var(--blue);
    border-radius: 4px;
    font-weight: 400;
}

.book h2 {
    font-weight: 700;
    padding-top: 8px;
}

.book h3 {
    font-size: 0.9rem;
}

.bookmark {
    position: absolute;
    margin-top: -18px;
}

.comments {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.comments h4 {
    color: var(--green);
    font-size: 0.8rem;
}

.comments img {
    margin-left: 4px;
}

footer {
    position: sticky;
    top: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}

footer img {
    width: 32px;
    margin: 0 8px;
}

.curtain {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #000000cc;
}

.add-book {
    width: 300px;
    background: var(--gray);
    color: var(--blue);
    position: sticky;
    top: calc(50vh - 220px);
    margin: 0 auto;
    padding: 32px;
    border: none;
    border-radius: 4px;
}

.add-book div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.add-book img {
    width: 32px;
    aspect-ratio: 1/1;
    background: var(--yellow);
    border-radius: 4px;
}

.add-book img:hover {
    background: var(--white);
}

.add-book h2 {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blue);
}

.add-book label {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.add-book input[type='text'] {
    width: calc(100% - 24px);
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-family: var(--font);
    font-size: 1.2rem;
    color: var(--blue);
    border: none;
    border-radius: 4px;
}

.add-book input[type='submit'] {
    padding: 8px 24px;
    margin-top: 8px;
    font-family: var(--font);
    font-size: 1.2rem;
    font-weight: 700;
    background: var(--yellow);
    color: var(--blue);
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.add-book input[type='submit']:hover {
    background: var(--green);
    color: var(--white);
}

.add-book input[type='text']:focus {
    outline: none;
    box-shadow: inset 0px 0px 3px 1px var(--yellow);
}

.hidden {
    display: none;
}

.btn:hover {
    cursor: pointer;
}
